/*#region Fonts */

@font-face {
    font-family: 'Animated';
    src: url('../../fonts/Animated.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura';
    src: url('../../fonts/Futura.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url('../../fonts/Raleway/Raleway-Thin.ttf') format('truetype');
}

/*#endregion */

/*#region Buttons */
.button {
    background-color: #40373C;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    transition: 800ms;
    margin-left: 30px;
    display: inline-block;
    margin-bottom: 15px;

    &:hover {
        color: #fff;
        background-color: darken(#40373C,5);
        text-decoration: none;
    }
}


/*#endregion */

$bg-color: #DEDECD;
$fg-color: #EEEFE5;

body {
    background-color: $bg-color;
}

/*#region Stuff I don't know where else to put */

.no-padding::after {
    padding: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    height: 100%;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.30);
}


/*#endregion */

/*#region Navigation */


.nav {
    background-color: rgba(0, 0, 0, 0.50);

    li {
        border-radius: 10px;

        a {
            color: #fff;
            font-family: 'Futura';
            font-size: 18px;
            text-transform: uppercase;
            padding: 5px;
            margin: 10px;
            border-radius: 5px;
            -moz-transition: 800ms;
            -o-transition: 800ms;
            -webkit-transition: 800ms;
            transition: 800ms;

            &:hover,
            &:focus {
                background-color: white;
                color: #7c7c7c;
            }
        }
    }

    &.navbar-right {
        a {
            &:hover {
                background-color: inherit;
                color: #444444;
            }
        }
    }
}



.active {
    background-color: #fff;
    color: #7c7c7c !important;
}

.icon-bar {
    background-color: #fff;
}


/*#endregion */

/*#region Frontpage */

#intro {
    background: url('../../images/three-boats1.jpg')center bottom;
    background-size: cover;
    height: 700px;

    &.reduced-height {
        height: 400px;

        .intro-caption {
            padding-top: 60px;

            h1 {
                font-size: 12rem;
            }
        }
    }

    .intro-caption {
        padding-top: 80px;

        h1, h2 {
            color: #fff;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
            text-align: center;
            text-transform: capitalize;

            font: {
                family: 'Animated';
                size: 17rem;
            }
        }

        h1 {
            margin-bottom: -80px;
        }


        p {
            font: {
                family: 'Futura';
                size: 3rem;
            }

            color: #fff;
            line-height: 30px;
            text-align: center;
        }
    }
}

#short-description {
    .dark-grey-bg {
        background-color: $bg-color;

        p {
            text-align: center;
            color: #666666;
            padding: 100px 0;

            font: {
                family: 'Futura';
                size: 3rem;
            }
        }
    }
}

#services {
    .row {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .light-grey-bg {
        background-color: $fg-color;

        .img-circle {
            margin-right: 30px;
            float: left;
            background-color: $fg-color;
            text-align: center;
            border-radius: 50%;
            height: 80px;
            width: 80px;

            .flaticon-roller5 {
                color: #74515A;
            }

            .flaticon-sport175 {
                color: #74515A;
            }

            .flaticon-time102 {
                color: #74515A;
            }

            .flaticon-tool487 {
                color: #74515A;
            }
        }

        article {
            font-family: 'Futura';

            h1 {
                color: #D04830 !important;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 700;
            }

            p {
                font-family: 'Raleway-Regular';
                color: #666;
                text-align: justify;
            }
        }
    }
}

#about {
    .about-photo {
        background: url('../../images/autumn-leaves.jpg') center bottom;
        height: 300px;
    }

    article {
        padding: 40px;

        header {
            h1 {
                color: #D04830;

                font: {
                    family: 'Animated';
                    size: 7rem;
                }
            }
        }

        p {
            padding-bottom: 10px;
            text-align: justify;
        }
    }
}
/*#endregion */

/*#region Blog */
#blog {
    margin-top: 30px;


    .blog-section {
        margin-bottom: 30px;


        article {
            background-color: #fff;
            margin-bottom: 30px;

            &:first-of-type h1 {
            }

            &:last-of-type {
                border: none;
            }
        }

        header {
            background-color: #272729;
            padding: 30px 30px 15px 30px;

            h1 {
                margin-top: 0;

                font: {
                    family: Raleway-Regular;
                    size: 3rem;
                    weight: bold;
                }

                color: #fff;
            }

            .date-posted {
                font-family: Raleway-Regular;
                padding: 5px;
                color: #D04830;
            }
        }

        p {
            padding-bottom: 15px;
            text-align: justify;
            padding: 15px 30px;

            font: {
                family: Raleway-Regular;
            }
        }
    }

    .blog-widget {
        background-color: #272729;
        /*border-radius: 10px;*/
        margin-bottom: 30px;

        &::after {
            /*height: 20px;
            display: block;
            content: " ";
            background-color:#fff;*/
        }

        header {
            padding: 30px 30px 15px 30px;

            h1 {
                margin: 0;
                margin-bottom: 10px;

                font: {
                    family: Raleway-Regular;
                    size: 3rem;
                    weight: bold;
                }

                color: #fff;
            }

            p {
                color: #D04830;
                margin: 0;
                margin-bottom: 10px;
                font-family: Raleway-Regular;
                padding: 5px;
            }
        }

        ul {
            list-style-type: none;
            padding-left: 0;

            li {


                a {
                    color: #333;
                    font-family: Raleway-Regular;
                    display: block;
                    padding: 10px 30px;
                    background-color: #fff;
                    position: relative;
                    vertical-align: middle;
                    transform: translateZ(0);
                    backface-visibility: hidden;
                    position: relative;
                    transition-property: color;
                    transition-duration: 0.5s;

                    &:hover {
                        text-decoration: none;
                        color: #fff;

                        &::before {
                            transform: scaleX(1);
                            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: #D04830;
                        transform: scaleX(0);
                        transform-origin: 0 50%;
                        transition-property: transform;
                        transition-duration: 0.5s;
                        transition-timing-function: ease-out;
                    }
                }
            }
        }
    }
}


/*#endregion */

/*#region Protfolio */

#projects {
    .project {
        margin-top: 30px;

        a {

            header {
                background-color: #272729;
                min-height: 200px;
                padding: 30px;
                position: relative;

                h1 {
                    margin: 0;
                    color: #D04830;
                    position: absolute;
                    bottom: 20px;

                    font: {
                        family: Raleway-Regular;
                        weight: bold;
                    }
                }
            }

            &:hover {
                text-decoration: none;
            }
        }

        .project-description {
            background-color: #fff;


            p {
                color: #333;
                padding: 30px;
                text-align: justify;
                margin: 0;

                font: {
                    family: Raleway-Regular;
                }
            }
        }
    }
}

.showcase-modal {
    .modal-dialog {

        .modal-content {
            border-radius: 0 !important;

            modal-header {
                h4 {
                }
            }

            .modal-body {
                .description-con {
                    font: {
                        family: Raleway-Regular;
                    }

                    .project-subject {
                        display: block;
                        background-color: #272729;
                        padding: 10px;
                        color: #D04830;
                    }

                    .website-description {
                        padding: 10px;
                    }

                    .button {
                        margin: 0;
                    }
                }
            }
        }
    }
}

/*#endregion */

/*#region Footer */
footer {
    background-color: #272729;
    min-height: 300px;
    padding: 60px 0;


    .footer-part {
        border-radius: 3px;
        border: 2px solid #3d3d3d;

        .part-description {
            font-family: Raleway-Regular;
            color:#fff;
            padding:10px;

            h3 {
                font-weight:bold;
                text-align:center;
                text-transform:uppercase;
            }

            p {
                text-align: justify;

            }
        }
    }
}




/*#endregion */
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .nav {
        background: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #services {
        .row {
            padding-top: 0;
        }

        .light-grey-bg {
            background-color: $fg-color;

            .img-circle {
                float: none;
                background-color: $fg-color;
                border-radius: 50%;
                height: 120px;
                width: 120px;
                margin-top: -60px !important;
                margin: auto;
                padding-top: 30px !important;

                .flaticon-roller5 {
                }
            }

            .services-caption {
                color: #666;

                h1 {
                    font-family: 'Futura';
                    color: #FF7207;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 20px;
                }

                p {
                    font-family: 'Raleway-Regular';
                    text-align: justify;
                }
            }
        }
    }
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
