/*#region Fonts */
@font-face {
  font-family: 'Animated';
  src: url("../fonts/Animated.ttf") format("truetype"); }

@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway-Thin';
  src: url("../fonts/Raleway/Raleway-Thin.ttf") format("truetype"); }

/*#endregion */
/*#region Stuff I don't know where else to put */
.no-padding::after {
  padding: 0 !important; }

/*#endregion */
/*#region Navigation */
.nav li {
  border-radius: 10px; }
  .nav li a {
    color: #fff;
    font-family: 'Futura';
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    -moz-transition: 800ms;
    -o-transition: 800ms;
    -webkit-transition: 800ms;
    transition: 800ms; }
    .nav li a:hover {
      background-color: white;
      color: #7c7c7c; }

.nav.navbar-right a:hover {
  background-color: inherit;
  color: #444444; }

.active {
  background-color: #fff;
  color: #7c7c7c !important; }

.icon-bar {
  background-color: #fff; }

/*#endregion */
/*#region Frontpage */
#intro {
  background: url("../images/three-boats1.jpg") center bottom;
  background-size: cover;
  height: 700px; }
  #intro .intro-caption {
    padding-top: 80px; }
    #intro .intro-caption h1, #intro .intro-caption h2 {
      color: #fff;
      text-shadow: 0 1px 1px black;
      text-align: center;
      text-transform: capitalize;
      font-family: 'Animated';
      font-size: 17rem; }
    #intro .intro-caption h1 {
      margin-bottom: -80px; }
    #intro .intro-caption p {
      font-family: 'Futura';
      font-size: 3rem;
      color: #fff;
      line-height: 30px;
      text-align: center; }

#short-description .dark-grey-bg {
  background-color: #DEDECD; }
  #short-description .dark-grey-bg p {
    text-align: center;
    color: #666666;
    padding: 100px 0;
    font-family: 'Futura';
    font-size: 3rem; }

#services .light-grey-bg {
  background-color: #EEEFE5; }
  #services .light-grey-bg .img-circle {
    margin-right: 30px;
    float: left;
    background-color: #EEEFE5;
    text-align: center;
    border-radius: 50%;
    height: 80px;
    width: 80px; }
    #services .light-grey-bg .img-circle .flaticon-roller5 {
      color: #BF5505; }
    #services .light-grey-bg .img-circle .flaticon-sport175 {
      color: #7F3904; }
    #services .light-grey-bg .img-circle .flaticon-time102 {
      color: #E56606; }
    #services .light-grey-bg .img-circle .flaticon-tool487 {
      color: #401C02; }
  #services .light-grey-bg article {
    font-family: 'Futura'; }
    #services .light-grey-bg article h1 {
      color: #FF7207;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700; }
    #services .light-grey-bg article p {
      font-family: 'Raleway-Regular';
      color: #666;
      text-align: justify; }

#about .about-photo {
  background: url("../images/autumn-leaves.jpg") center bottom;
  height: 300px; }

#about article {
  padding: 40px; }
  #about article header h1 {
    color: #FF7207;
    font-family: 'Animated';
    font-size: 7rem; }
  #about article p {
    padding-bottom: 10px;
    text-align: justify; }

/*#endregion */
/*#region Footer */
footer {
  background: url("../images/autumn-bench.jpg") center center;
  background-size: cover;
  height: 600px; }
  footer .footer-caption {
    color: #fff;
    padding-top: 80px; }
    footer .footer-caption h1, footer .footer-caption h2 {
      text-shadow: 0 1px 1px black;
      text-align: center;
      text-transform: capitalize;
      font-family: 'Animated';
      font-size: 17rem; }
    footer .footer-caption h1 {
      margin-bottom: -80px; }
    footer .footer-caption p {
      font-family: 'Futura';
      font-size: 3rem;
      line-height: 30px;
      padding: 0 40px; }

/*#endregion */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #services .light-grey-bg {
    background-color: #EEEFE5; }
    #services .light-grey-bg .img-circle {
      float: none;
      background-color: #EEEFE5;
      border-radius: 50%;
      height: 120px;
      width: 120px;
      margin-top: -60px !important;
      margin: auto;
      padding-top: 30px !important; }
    #services .light-grey-bg .services-caption {
      color: #666; }
      #services .light-grey-bg .services-caption h1 {
        font-family: 'Futura';
        color: #FF7207;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px; }
      #services .light-grey-bg .services-caption p {
        font-family: 'Raleway-Regular';
        text-align: justify; } }

/* Large Devices, Wide Screens */

