/*#region Fonts */
@font-face {
  font-family: 'Animated';
  src: url("../fonts/Animated.ttf") format("truetype"); }

@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway-Thin';
  src: url("../fonts/Raleway/Raleway-Thin.ttf") format("truetype"); }

/*#endregion */
/*#region Buttons */
.button {
  background-color: #40373C;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  transition: 800ms; }
  .button:hover {
    color: #fff;
    background-color: #322b2f;
    text-decoration: none; }

/*#endregion */
body {
  background-color: #DEDECD; }

/*#region Stuff I don't know where else to put */
.no-padding::after {
  padding: 0 !important; }

.no-padding {
  padding: 0 !important; }

.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  height: 100%; }

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.3); }

/*#endregion */
/*#region Navigation */
.nav {
  background-color: rgba(0, 0, 0, 0.5); }
  .nav li {
    border-radius: 10px; }
    .nav li a {
      color: #fff;
      font-family: 'Futura';
      font-size: 18px;
      text-transform: uppercase;
      padding: 5px;
      margin: 10px;
      border-radius: 5px;
      -moz-transition: 800ms;
      -o-transition: 800ms;
      -webkit-transition: 800ms;
      transition: 800ms; }
      .nav li a:hover, .nav li a:focus {
        background-color: white;
        color: #7c7c7c; }
  .nav.navbar-right a:hover {
    background-color: inherit;
    color: #444444; }

.active {
  background-color: #fff;
  color: #7c7c7c !important; }

.icon-bar {
  background-color: #fff; }

/*#endregion */
/*#region Frontpage */
#intro {
  background: url("../images/three-boats1.jpg") center bottom;
  background-size: cover;
  height: 700px; }
  #intro.reduced-height {
    height: 400px; }
    #intro.reduced-height .intro-caption {
      padding-top: 60px; }
      #intro.reduced-height .intro-caption h1 {
        font-size: 12rem; }
  #intro .intro-caption {
    padding-top: 80px; }
    #intro .intro-caption h1, #intro .intro-caption h2 {
      color: #fff;
      text-shadow: 0 1px 1px black;
      text-align: center;
      text-transform: capitalize;
      font-family: 'Animated';
      font-size: 17rem; }
    #intro .intro-caption h1 {
      margin-bottom: -80px; }
    #intro .intro-caption p {
      font-family: 'Futura';
      font-size: 3rem;
      color: #fff;
      line-height: 30px;
      text-align: center; }

#short-description .dark-grey-bg {
  background-color: #DEDECD; }
  #short-description .dark-grey-bg p {
    text-align: center;
    color: #666666;
    padding: 100px 0;
    font-family: 'Futura';
    font-size: 3rem; }

#services .light-grey-bg {
  background-color: #EEEFE5; }
  #services .light-grey-bg .img-circle {
    margin-right: 30px;
    float: left;
    background-color: #EEEFE5;
    text-align: center;
    border-radius: 50%;
    height: 80px;
    width: 80px; }
    #services .light-grey-bg .img-circle .flaticon-roller5 {
      color: #74515A; }
    #services .light-grey-bg .img-circle .flaticon-sport175 {
      color: #74515A; }
    #services .light-grey-bg .img-circle .flaticon-time102 {
      color: #74515A; }
    #services .light-grey-bg .img-circle .flaticon-tool487 {
      color: #74515A; }
  #services .light-grey-bg article {
    font-family: 'Futura'; }
    #services .light-grey-bg article h1 {
      color: #D04830 !important;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700; }
    #services .light-grey-bg article p {
      font-family: 'Raleway-Regular';
      color: #666;
      text-align: justify; }

#about .about-photo {
  background: url("../images/autumn-leaves.jpg") center bottom;
  height: 300px; }

#about article {
  padding: 40px; }
  #about article header h1 {
    color: #D04830;
    font-family: 'Animated';
    font-size: 7rem; }
  #about article p {
    padding-bottom: 10px;
    text-align: justify; }

/*#endregion */
/*#region Blog */
#blog {
  margin-top: 30px; }
  #blog .blog-section {
    background-color: #fff;
    /*border-radius: 10px;*/
    padding: 30px;
    margin-bottom: 30px; }
    #blog .blog-section article {
      padding-bottom: 30px;
      border-bottom: 1px dashed #333; }
      #blog .blog-section article:first-of-type h1 {
        margin-top: 0; }
      #blog .blog-section article:last-of-type {
        border: none; }
    #blog .blog-section header h1 {
      font-family: Raleway-Regular;
      font-size: 3rem;
      font-weight: bold;
      color: #D04830; }
    #blog .blog-section header .date-posted {
      font-family: Raleway-Regular;
      background-color: #DEDECD;
      padding: 5px;
      border-radius: 5px; }
    #blog .blog-section p {
      text-align: justify;
      font-family: Raleway-Regular;
      padding-bottom: 15px; }
  #blog .blog-widget {
    background-color: #fff;
    /*border-radius: 10px;*/
    margin-bottom: 30px; }
    #blog .blog-widget::after {
      height: 20px;
      display: block;
      content: " "; }
    #blog .blog-widget header {
      padding: 30px 30px 0 30px; }
      #blog .blog-widget header h1 {
        margin-top: 0;
        font-family: Raleway-Regular;
        font-size: 3rem;
        font-weight: bold;
        color: #D04830; }
    #blog .blog-widget ul {
      list-style-type: none;
      padding-left: 0; }
      #blog .blog-widget ul li a {
        color: #fff;
        font-family: Raleway-Regular;
        display: block;
        padding: 10px 30px;
        background-color: #D04830;
        position: relative;
        vertical-align: middle;
        transform: translateZ(0);
        backface-visibility: hidden;
        position: relative;
        transition-property: color;
        transition-duration: 0.5s; }
        #blog .blog-widget ul li a:hover {
          text-decoration: none; }
          #blog .blog-widget ul li a:hover::before {
            transform: scaleX(1);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
        #blog .blog-widget ul li a::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #a73926;
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 0.5s;
          transition-timing-function: ease-out; }

/*#endregion */
/*#region Protfolio */
#projects .project {
  margin-top: 30px; }
  #projects .project a header {
    background-color: #272729;
    min-height: 200px;
    padding: 30px;
    position: relative; }
    #projects .project a header h1 {
      margin: 0;
      color: #D04830;
      position: absolute;
      bottom: 20px;
      font-family: Raleway-Regular;
      font-weight: bold; }
  #projects .project a:hover {
    text-decoration: none; }
  #projects .project .project-description {
    background-color: #fff; }
    #projects .project .project-description p {
      color: #333;
      padding: 30px;
      text-align: justify;
      margin: 0;
      font-family: Raleway-Regular; }

/*#endregion */
/*#region Footer */
.test1 {
  background-color: #272729;
  height: 300px; }

.test2 {
  background-color: #564646;
  height: 100px; }

/*#endregion */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .nav {
    background: none; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #services .light-grey-bg {
    background-color: #EEEFE5; }
    #services .light-grey-bg .img-circle {
      float: none;
      background-color: #EEEFE5;
      border-radius: 50%;
      height: 120px;
      width: 120px;
      margin-top: -60px !important;
      margin: auto;
      padding-top: 30px !important; }
    #services .light-grey-bg .services-caption {
      color: #666; }
      #services .light-grey-bg .services-caption h1 {
        font-family: 'Futura';
        color: #FF7207;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px; }
      #services .light-grey-bg .services-caption p {
        font-family: 'Raleway-Regular';
        text-align: justify; } }

/* Large Devices, Wide Screens */

